@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS . (pode cários elementos)
*/

body {
    background-color: rgb(182, 247, 193);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #33643B;
}

h1#principal {
    text-align: center;
    background-color: #44864F;
    color: white;
}

h2 {
    color: #44864F;
}

.basico {
    color: #44864F;
    font-weight: bold;
}

.intermediario {
    color: #868544;
}

.avancado {
    color: #864444;
}

.destaque {
    background-color: #c7c751ab;
}