@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body {
    background-image: linear-gradient(to right, #BC7C9C, #A96DA3);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(109, 71, 105, 0.637);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #33032F;
    text-align: center;
    text-shadow: 1px 1px 2px #20021e;
}

h2 {
    color: #114B5F;
}

p {
    text-align: justify;
}